.custom-button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: all 0.3s ease;
    font-weight: 500;
  }
  
  .custom-button:hover {
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  }
  